@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,700;1,9..40,400&family=Outfit:wght@400;700&family=Source+Sans+3:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'DM Sans', sans-serif;
    /* background-color: #F8F9F9; */
    background-color: #F4F6F8;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #F8F9F9;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}


/* Define initial and final states */



.dropdown-enter {
    opacity: 0;
}

.dropdown-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.dropdown-exit {
    opacity: 1;
}

.dropdown-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.dropdown-enter {
    opacity: 0;
}

.dropdown-enter.dropdown-enter-active {
    opacity: 1;
    transition: opacity 9000ms ease-in;
}

.dropdown-exit {
    opacity: 1;
}

.dropdown-exit.dropdown-exit-active {
    opacity: 0;
    transition: opacity 9000ms ease-in;
}



/* React toastify customization */

.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 50px !important;
    background: #FAE1E2 !important;
}





.Toastify__toast--success {
    border: 1px solid #3A9EA5 !important;
    border-radius: 50px !important;
    background: #F0F9FA !important;
}


.Toastify__toast--warning {
    border: 1px solid #E78326 !important;
    border-radius: 50px !important;
    background: #FADFC5 !important;
}


.Toastify__toast-body {
    color: #444C63;
    font-size: 14px !important;
    font-family: 'DM Sans', sans-serif !important;
    margin-left: 10px !important;
}

.Toastify__close-button {
    align-self: center !important;
    padding-right: 5px !important;
    color: #222222 !important;
}